H1 {
  text-align:       center;
}

H3 {
  text-align:       top;
  margin:           20px 0px 0px 0px;
  
}

td {
  vertical-align:   center;
  height:           15px;
}

.c1 {
  width:            10px;
}

.c2 {
  width:            150px;
}

.spacer {
  width:            150px;
}

input[type=submit] {
  width:            80px;
  height:           30px;
}

#t1 {
  display:          float;
  margin-left:      auto;
  margin-right:     auto;
  width:            90%;
}

.ids {
  width:            40px;
